.main {
  display: flex;
  flex-direction: column;
  background-color: var(--white-500);

  width: calc(100vw - var(--leftNavWidth));
  height: calc(100vw - var(--topNavHeight));

  margin-top: var(--topNavHeight);
  margin-left: var(--leftNavWidth);
  position: relative;

  .instructions {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 20%;
    padding: var(--CS-margin-02);
  }

  .controls {
    display: flex;
    width: 100%;
    height: 20%;
  }

  .charts {
    display: flex;
    width: 100%;
  }

  .multiPicker {
    display: flex;
    width: 50%;
    border: 1px solid red !important;
  }
}
