.main {
  display: flex;
  flex-direction: column;
  background-color: var(--white-500);

  width: calc(100vw - var(--leftNavWidth));
  height: calc(100vw - var(--topNavHeight));

  margin-top: var(--topNavHeight);
  margin-left: var(--leftNavWidth);
  position: relative;

  .controls {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
