.main {
  display: flex;

  width: 100%;
  padding: var(--CS-margin-02);

  .bigChart {
    display: flex;

    width: 50%;
    border: 1px solid var(--border-color);
  }

  .littleCharts {
    display: flex;
    width: 50%;

    border: 1px solid var(--border-color);
    margin-left: var(--CS-margin-02);
  }

  .chart {
    display: flex;
    flex: 1 1;

    margin-right: var(--CS-margin-01);

    &:last-of-type {
      margin-right: 0;
    }
  }
}
